<!-- displays a carousel of responsive images -->
<TwicWrapper>
  <div class="twic-slideshow-container">
    <TwicAbstract title="A Picture Carousel"
      codeSandBoxUrl="https://codesandbox.io/s/twicpics-x-angular-picture-carousel-hbcktk"
      codeSandBoxName="TwicPics x Angular - Picture Carousel">
      <p>
        Use TwicPics for automatic lazy-loading, CLS optimization and art direction adaptation.
      </p>
      <p>
        <strong>Change the width of your browser</strong> to see the image ratio adapt according to
        the CSS rules.
      </p>
    </TwicAbstract>
    <app-slideshow [images]="images"></app-slideshow>
  </div>
</TwicWrapper>