.twic-slider-container {
    .slider {
        display: flex;
        list-style: none;
        overflow-x: scroll;
        padding: 1rem 0;
        scroll-snap-type: x mandatory;
    }

    .slider-item {
        flex-grow: 1;
        flex-shrink: 0;
        margin-left: 1.6rem;
        scroll-snap-align: start;
    }

    .card {
        margin: unset;
        position: relative;
        & figcaption {
            background-color: rgba(black, 0.5);
            bottom: 12px;
            color: white;
            font-size: 12px;
            padding: 8px 4px;
            position: absolute;
            text-transform: uppercase;
            width: calc(100% - 24px);
            & p {
                margin: unset;
                padding: 0 5px;
            }
        }
    }

    ::-webkit-scrollbar-track {
        background-color: #F5F5F5;
    }
    
    ::-webkit-scrollbar {
        height: 8px;
        background-color: #F5F5F5;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: rgba(black, 0.5);;
        border-radius: 3px;
    }
}

.slider-item {
    flex-basis: 100%;
    --twic-ratio: calc(1);
}

.slider-item {
    @media (min-width: 768px) {
        flex-basis: 50%;
    }
    
    @media (min-width: 1024px) {
        --twic-ratio: calc(4/3);
    }
    
    @media (min-width: 1280px) {
        flex-basis: 30%;
    }
    
    @media (min-width: 1536px) {
        --twic-ratio: calc(16/9);
    }
}

