.display-block-pointer {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
}

.responsive-grid-container {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;
    }

    li {
        float: left;
        width: 16.6666667%;
        width: calc(100% / 6);
    }

    a {
        @extend .display-block-pointer;
        padding-bottom: 75%;
        position: relative;
        &:hover {
            & .caption {
                opacity: 1;
            }
            & img.twic-done {
                transform: scale(1.2);
            }
        }
        & img {
            @extend .display-block-pointer;
            position: absolute;
            transform: scale(0);
            transition: .3s all ease-in-out;
            &.twic-done {
                transform: scale(1);
            }
        }
        & .twic-w {
            position: absolute;
        }
    }

    .caption {
        align-items: center;
        background: rgba(0, 0, 0, 0.3);
        display: flex;
        opacity: 0;
        position: absolute;
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
        text-align: center;
        transition: .3s all ease-in-out;
        & h3 {
            color: #fff;
            font-size: 1.4em;
            letter-spacing: 2px;
            padding: 0 10px;
            width: 100%;
        }
    }

}

.responsive-grid-container li{
    @media screen and (max-width: 1190px) {
        width: 20%;
        width: calc(100% / 5);
    }
    @media screen and (max-width: 945px) {
        width: 25%;
        width: calc(100% / 4);
    }
    
    @media screen and (max-width: 660px) {
        width: 33.3333333%;
        width: calc(100% / 3);
    }
    
    @media screen and (max-width: 660px) {
        width: calc(100% / 3);
    }
    
    @media screen and (max-width: 400px) {
        width: 50%;
        width: calc(100% / 2);
    }
    
    @media screen and (max-width: 300px) {
        width: 100%;
    }
}

