.twic-placeholder-container {
  ::ng-deep .show-placeholders {
    img {
      visibility: hidden !important;
    }
    img + div {
        opacity: 1 !important;
    }
    img + div {
        opacity: 1 !important;
    }
  }
}
