.twic-transition-container {
    .show-placeholders {
        :global(.twic-tf) {
            & img{
                visibility: hidden !important;
            }
            & img + div{
                opacity: 1 !important;
            }
        }
        :global(.twic-tz) {
            & img{
                transform:scale(0) !important;
            }
        }
    }
}
