<!-- demonstrates mode features (contain or cover) -->
<TwicWrapper>
  <div class="twic-mode-container">
    <TwicAbstract title="mode property"
      codeSandBoxUrl="https://codesandbox.io/s/twicpics-x-angular-mode-property-nllt1t"
      codeSandBoxName="TwicPics x Angular - Mode Property">
      <p>
        <span>The </span>
        <span class="twic-code">mode</span>
        <span> property determines if the image fills or sits inside the area.</span>
      </p>
      <p>
        Here are the two accepted values:
      </p>
      <ul>
        <li>
          <span class="twic-code">cover</span>:
          <span> the image fills the area and is cropped accordingly.</span>
        </li>
        <li>
          <span class="twic-code">contain</span>:
          <span> the image sits inside the area with no cropping.</span>
        </li>
      </ul>
    </TwicAbstract>
    <div class="twic-grid">
      <div class="twic-item">
        <button class="twic-button" (click)="onChangeMode()">
          Click to change the mode value
        </button>
          <TwicImg [src]="urlValues[ modeIndex ]" [mode]="modeValues[ modeIndex ]"></TwicImg>
    <span>mode=`{{ modeValues[ modeIndex ] }}`</span>
      </div>
      <div class=" twic-item">
        <TwicImg [src]="imgUrl"></TwicImg>
        <span>No mode set (cover by default)</span>
      </div>
      <div class="twic-item">
        <TwicImg [src]="imgUrl" mode="cover"></TwicImg>
        <span>mode=`cover`</span>
      </div>
      <div class="twic-item">
        <TwicImg [src]="imgUrl" mode="contain"></TwicImg>
        <span>mode=`contain`</span>
      </div>
    </div>
  </div>
</TwicWrapper>