* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  font-size: 62.5%;
} */

body {
  font-family: "Montserrat", sans-serif;
  color: #5b595c;
}

#twic-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid #e3e3e4;
  background-color: #f9fafb;
}

#twic-header .heading-primary {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2em;
  font-weight: 400;
}

#twic-header .twicpics-logo {
  width: 140px;
}

#twic-header .react-logo {
  width: 120px;
}

#twic-header .heading-secondary {
  margin: 10px 0;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color: #111827;
}

#twic-header .tags-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  width: 100%;
  font-size: 0.9em;
}

#twic-header .tag {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
  font-weight: 600;
  border-radius: 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  color: #8f00ff;
  background-color: #06ffa3;
}

#twic-header .tag--bg-purple-rain {
  color: #fff;
  background-color: #8f00ff;
}

#twic-header .documentation-link:link,
#twic-header .documentation-link:visited {
  text-decoration: none;
  transition: all 0.3s;
}

#twic-header .documentation-link:hover,
#twic-header .documentation-link:active {
  transform: translateY(-5px);
  box-shadow: 0 9px 4px rgba(0, 0, 0, 0.09);
  background: linear-gradient(to right, #06ffa3, #8f00ff);
}

#twic-header .documentation-link-icon {
  width: 20px;
  height: 20px;
}

#twic-demo-wrapper #twic-demo-container {
    margin: 2rem 2rem;
    max-width: 1500px;
}

#twic-demo-wrapper.twic-wide #twic-demo-container {
    margin: 2rem 0;
    max-width: initial;
}
 
.twic-abstract {
    margin: 0 0 2rem;
}

.twic-abstract h1 {
    margin-bottom: 1rem;
}

.twic-abstract p {
    margin-bottom: 0.5rem;
}

.twic-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax( 300px, 1fr));
  grid-gap: 1rem;
  /* variables */
  grid-template-columns: repeat(auto-fill, minmax( var( --twic-grid-columns-width, 300px ) , 1fr));
}

.twic-testing-container {
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.twic-button {
    margin: 1rem;
}

.twic-separator {
    height: 2rem;
}


.twic-item {
    position: relative;
}

.twic-item .twic-w {
    background-color: #00FFA3;
    display: block;
}

.twic-item > span {
    position: absolute;
    color: #00FFA3;
    display: block;
    left: 0.5rem;
    text-shadow:
        -1px  0   0 #342d4e,
        -1px  1px 0 #342d4e,
        -1px -1px 0 #342d4e,
         1px  0   0 #342d4e,
         1px  1px 0 #342d4e,
         1px -1px 0 #342d4e,
         0    1px 0 #342d4e,
         0   -1px 0 #342d4e;
    top: 0.5rem;
}

@media screen and (min-width: 768px) {

  #twic-header .heading-secondary {
    margin: 0;
  }

  #twic-header .tags-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

@media screen and (min-width: 1536px) {
    #twic-demo-wrapper #twic-demo-container {
        margin: 2rem auto;
    }
}

