<!-- demonstrates that setting up components using CSS enables hassle-free responsive designs. -->
<TwicWrapper>
    <div class="twic-art-direction-container">
        <TwicAbstract title="Art directions with CSS Media Queries"
            codeSandBoxUrl="https://codesandbox.io/s/twicpics-x-angular-art-directions-h4xb4j"
            codeSandBoxName="TwicPics x Angular - Art Directions">
            <p>Setting up components using CSS enables hassle-free responsive designs.</p>
            <p>You do not need to create a set of images derived from the original.</p>
            <p>
                You only need to manage a master image in your template:
                TwicPics understands your CSS and does the rest.
            </p>
            <p>
                <strong>Change the width of your browser </strong>
                to see the image ratio adapt according to the CSS rules.
            </p>
        </TwicAbstract>
        <div class="style-driven-responsive">
            <TwicImg [src]="imgUrl" focus="48px100p">
            </TwicImg>
        </div>
    </div>
</TwicWrapper>