<!-- displays images in grid with responsive rules set on li width
Custom behaviour on twic done ( scale 0 to 1 rather than opacity )
No placeholder -->
<TwicWrapper>
    <TwicAbstract title="TwicPics Life Cycle"
        codeSandBoxUrl="https://codesandbox.io/s/twicpics-x-angular-twicpics-life-cycle-xwh9yp"
        codeSandBoxName="TwicPics x Angular - TwicPics Life Cycle">
        <p>
            It may be necessary to apply specific behavior to an image depending on
            its processing state.
        </p>
        <p>
            To help you, the TwicPics script tags elements with specific classes as
            part of a life cycle
        </p>
        <p>
            In this example, we apply a scale 0 to 1 transition when the image is
            ready to be displayed
            <span class="twic-code">class=twic-done</span>.
        </p>
        <p>
            Scroll down to experience lazy loading in action.
        </p>
    </TwicAbstract>
    <div class="twic-life-cycle">
        <ul class="">
            <ng-container *ngFor="let image of images">
                <li class="twic-item">
                    <a href="#">
                        <TwicImg [src]="image.url" [focus]="image.focus" placeholder="none" ratio="4/3" mode="cover">
                        </TwicImg>
                    </a>
                </li>
            </ng-container>
        </ul>
    </div>
</TwicWrapper>