body {
    font-family: 'Montserrat', sans-serif;
    color: #454446;
  }

#twic-demo-wrapper {

}

#twic-header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0 8px 0;
  background-color: #9002ff;
}

#twic-header img {
    width: 140px;
}

#twic-demo-container {
    margin: 1rem 0;
}

.twic-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
}