<!-- demonstrates ratio features -->
<TwicWrapper>
  <div class="twic-ratio-container">
    <TwicAbstract title="ratio property"
      codeSandBoxUrl="https://codesandbox.io/s/twicpics-x-angular-ratio-property-hfgqny"
      codeSandBoxName="TwicPics x Angular - Ratio Property">
      <p>
        The <span class="twic-code">ratio</span> property determines the value
        of the width/height ratio of the image display area.
      </p>
      <p>Its value can be:</p>
      <ul>
        <li>
          a ratio expression of the form width/height like
          <span class="twic-code">4/3</span>,
          <span class="twic-code">16/9</span>, or
          <span class="twic-code">1/1</span> .
        </li>
        <li>
          a number that is the result of such an expression like
          <span class="twic-code">1.85</span>,
          <span class="twic-code">2</span>, or
          <span class="twic-code">0.5</span>.
        </li>
      </ul>
      <p>
        A square area (<span class="twic-code"> ratio="1"</span>) will be
        created by default.
      </p>
    </TwicAbstract>
    <div class="twic-testing-container">
      <button class="twic-button" (click)="onChangeRatio()">Click to change the aspect-ratio</button>
      <button class="twic-button" (click)="onChangeAreaWidth()">Click to change the area width</button>
    </div>
    <div class="twic-grid" [ngClass]="{ 'full-width': fullWidthAera, 'half-width': fullWidthAera === false }">
      <div class="twic-item">
        <TwicImg [src]="imgUrl" [ratio]="ratioValues[ratioIndex]">
        </TwicImg>
      <span>
        <span class="twic-code">ratio="{{
          ratioValues[ratioIndex] ? ratioValues[ratioIndex] : 1
        }}"</span>
        <ng-template [NgIf]="!ratioValues[ratioIndex]">
          - default ratio
        </ng-template>
        (mode is <span class="twic-code">cover</span>)
      </span>
    </div>
    <div class="twic-item">
        <TwicImg
        [src]="imgUrl"
        mode="contain"
        [ratio]="ratioValues[ratioIndex]"
      >
      </TwicImg>
      <span>
        <span class="twic-code">
          ratio="{{ ratioValues[ratioIndex] ? ratioValues[ratioIndex] : 1 }}"
        </span>
        <ng-template [NgIf]="!ratioValues[ratioIndex]">
          - default ratio
        </ng-template>
        (mode is <span class="twic-code">contain</span>)
      </span>
    </div>
    </div>
  </div>
</TwicWrapper>